<h1><%= post.title %></h1>
<small class="text-muted">
  Created: <%= post.created_at.to_formatted_s(:long) %> |
  Updated: <%= post.updated_at.to_formatted_s(:long) %>
</small>
<p><%= markdown_text(post.content) %></p>
<p>
  <small class="text-muted">
    <%= link_to "Contact me", root_path(anchor: "contact") %>
    if you have any suggestions!
  </small>
</p>