<div class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
  <%= link_to "<will_gabriel>", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About Me", root_path(anchor: "about"), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Projects", root_path(anchor: "projects"), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact Me", root_path(anchor: "contact"), class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Blog", posts_path , class: "nav-link" %>
      </li>
      <% if admin_signed_in? %>
      <li class="nav-item">
        <%= link_to "New Post", new_post_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "New Project", new_project_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
